/* src/assets/styles/index.css */
@import "tailwindcss/base";

:root {
    --color-primary-6: #165DFF;
    --app-header-height: 61px;
    --page-shell-gap: 8px;
}

.main-wrapper {
    @apply m-2 rounded-lg bg-white p-4;
}

.table-container {
    @apply m-2 rounded-lg bg-white p-4;
}
